.body-container {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .rad-right {
    display: flex;
    justify-content: right;
    width: 90%;
    margin: auto;
  }
  .voice-reg {
    display: flex;
    justify-content: center;
  }
  .time {
    margin-top: -20px;
  }
  .header {
    z-index: 10;
  }
  .google {
    z-index: 20;
  }