.time-container {
  margin-bottom: 50px;
}
.time {
  position: relative;
    /* width: 400px;
    height: 200px; */
    display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 50px;
  min-width: 100%;
    font-size: 250px;
    border-radius: 10px;
  background-color: #fff;
}
.clock {
  display: flex;
  justify-content: center;
  align-items: start;
}
.border::before, .border::after {
  content: '';
  position: absolute;
  border-radius: 10px;
  left: -10px;
  top: -8px;
  background: linear-gradient(70deg, rgb(0, 0, 128), rgb(128, 0, 0));
  /* background-size: 400%; */
  background-position: center;
  width: calc(100% + 20px);
  height: calc(100% + 15px);
  z-index: -1;
  /* animation: glow 15s linear infinite; */
}
/* .clock {
  border: 10px solid rgba(0, 0, 0, 0.9);
  border-radius: 50px;
  margin-top: 20px;
  padding-left: 100px;
  padding-right: 100px;
} */
  .fa-circle {
    font-size: 25px;
    display: flex;
    align-items: center;
    margin: 0px 20px;
  }
  .sec {
    font-size: 25px;
    align-self: end;
    margin-left: 15px;
  }
  .bottom {
    align-self: end;
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.1));
    border-radius: 10px;
    padding: 0px 10px;
  }
  .calender, .zone {
    color: #007fff;
  }
  /* .clock {
    display: flex;
    height: 100%;
    align-items: end;
  } */
  .second {
    font-size: 50px;
    color: dimgrey;
    font-weight: 600;
    width: 50px;
  }