@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

.time {
  margin: 0 auto 50px;
}

.clock {
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  color: #fff;
  /* display: flex; */
}

.hour {
    /* background: linear-gradient(180deg, #684D4D 0%, rgba(104, 77, 77, 0.00) 100%); */
    /* background-color: #684D4D;
    padding: 20px; */

}

.date {
  color: #FFF;
  margin-bottom: -20px;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 1.6px;
}

.hour {
  background: linear-gradient(180deg, #684D4D 0%, rgba(104, 77, 77, 0.00) 100%);
  /* background-color: #684D4D; */
  padding: 20px;
}

.colon {
  margin-right: 30px;
  margin-left: 30px;
}

.minute {
  background: linear-gradient(180deg, #684D4D 0%, rgba(104, 77, 77, 0.00) 100%);
  padding: 20px;
}

.second {
  /* display: none; */
  font-size: 16px;
  margin-left: 10px;
  align-self: end;
}

.time-border {
  margin-bottom: 80px;
}

.divider {
  background-color: #fff;
  height: 1px;
  width: 30%;
  border-radius: 10px;
  margin: 0 auto;
  margin-bottom: 100px;
}

@media only screen and (min-width: 60rem) {
  .clock {
    font-size: 200px;
  }

  /* .time-container {
    margin: 0 auto 100px;
  }

  .time-border {
    margin-bottom: 50px;
  } */
}