.time-container {
  margin: 0px auto 200px;
}
.clock {
  font-size: 100px;
  color: #fff;
}
.date {
  color: #fff;
  text-shadow: 0px 0px 10px #000;
}
.calender,.zone {
  color: rgba(0, 127, 255, 0.9);
  text-shadow: none;
}
.hour {
  background: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.05));
  padding: 10px;
}
.minute {
  background: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.05));
  padding: 10px; 
}
.second {
  display: none;
}

@media only screen and (min-width: 60rem) {
  .clock {
    font-size: 200px;
  }
  .time-container {
    margin: 0px auto 100px;
  }
}