.widget-container {
    padding: 20px;
    margin-bottom: 50px; 
}
@media only screen and (min-width: 60rem) {
    .widget-container {
        margin-bottom: 50px; 
        display: flex;
        justify-content: space-between;
        /* align-items: start; */
        flex-wrap: wrap;
        width: 100%;
    }
}