.footer-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: end;
    padding: 0px 100px 0px 20px;
}
.copy-right {
    color: rgba(0, 0, 0, 0.3);
    font-size: 20px;
    margin-bottom: 10px;
}
.fa-arrow-down {
    position: absolute;
    top: 85%;
    font-size: 40px;
    color: rgba(0, 0, 0, 0.5);
    margin-bottom: 50px;
    animation: scroll 3s infinite;
}
@keyframes scroll {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(25px);
    }
    100% {
        transform: translateY(0);
    }
}
.fa-arrow-down:hover {
    color: rgba(0, 0, 0, 0.8);
}