* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  cursor: default;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  cursor: default;
}
body {
  background-image: url('https://cdn.glitch.global/6a19564e-7f95-4bcb-afee-8473720639e4/building-g1b1671cfe_1920.jpg?v=1660729278466');
  background-position: center;
  background-size: cover;
  /* backdrop-filter: blur(1px); */
}